<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cal Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Anybody' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Braah One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Days One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Delius Unicase' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
    
    <title>Index</title>
</head>
<body>
    

    <section class="one">
        <img src="../static/img/grid.jpg" alt="">
        <header >
                <nav>
                    
                    <div class="logo"><span>Storm</span>coders</div>
                    <div class="navlist">
                        <ul>
                            <li>Home</li>
                            <li>Certifications</li>
                            <li>Projects</li>
                            <li>About</li>
                            <li>Services</li>
                        </ul>
                    </div>
                    <div class="contact">Contact me</div>
                </nav>
            </header>

    
        <div class="centercontent">
                <div class="quotes_clintes">
                    
                    <div class="quotes" ><span><i class="fa-solid fa-quote-left"></i></span></i><p >In every bug, there’s a lesson. In every fix, there’s growth.</p> </div>
                    <div class="clients">

                        <div class="client1"><img class="client_images" src="./img/clint1.jpg" alt=""></div>
                        <div class="client1"><img class="client_images" src="./img/clint2.jpg" alt=""></div>
                        <div class="client1"><img class="client_images" src="./img/clint3.jpg" alt=""></div>
                        <div class="client1"><img class="client_images" src="./img/clint4.jpg" alt=""></div>
                        
                    </div>

                    <div class="review">
                        <p class="rev1">10+ Reviews <span>(4.5 of 5)</span></p>
                        <p class="rev2">Review from valid Clients</p>
                    </div>

                </div>
                
                
                
                <div class="heading">
                    <div class="head">
                        <h1>I'm <span>Anthony Charles</span></h1>
                        <p>Full Stack Web Developer</p>

                    </div>

                    <div class="hire_port">
                            <div class="port">Portfolio</div>
                            <div class="hire">Hire Me</div>
                    </div>

                </div>   

        


                <div class="skils_socialmedia">
                    <div class="skils">
                    <table>
                        <th>
                            <tr>
                                <td class="dum"></td>
                                <td class="dum"></td>
                                <td class="dum"></td>
                            </tr>
                            

                        </th>
                        <tr>
                            <td colspan="2"class="webd">Web Development</td>
                            <td class="pyauto">Python Automation</td>
                            
                        
                            </tr>
                        <tr>
                            <td class="ml">Machine Learning</td>
                            <td colspan="2" class="dash">Dashboard Designing</td>
                            
                        
                            </tr>
                        <tr>
                            
                            <td class="secure" colspan="3">End-to-End Encrypted Messaging Machine</td>
                        
                            </tr>
                    </table>
                    </div>
                    <!--  social media -->


                    <div class="socialmedia">
                        <p class="socialmedia-follow">Follow Me On</p>
                        <div class="icons">
                            <i class="fa-brands fa-square-facebook"></i>
                            <i class="fa-brands fa-square-whatsapp"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    </div>



                </div>
        </div>

        <div class="base">
            <marquee behavior="scroll" direction="left" >
                <h1>data analytics
                <i class="fa-solid fa-fan"></i>
                Frontend Development
                <i class="fa-solid fa-fan"></i>
                Backend Development
                <i class="fa-solid fa-fan"></i>
                database management
                <i class="fa-solid fa-fan"></i>
                interactive dashboard design
                <i class="fa-solid fa-fan"></i>
                portrait sketching</h1>

            </marquee>
        </div>

    </section>

<!----------------------------------------------------------------------------------  -->










    <section class="two">
            <div class="skillsets">
                <div class="skill_heading">
                    <h1>Exploring the Tools</h1>
                    <h1><span>Behind My Webpage</span></h1>
                </div>   

                <!-- skills and icons -->
                <div class="skills">

                    <div class="skills_icons">
                        <div class="icons">
                            <img class="FE" width="58" height="58" src="https://img.icons8.com/color/48/html-5--v1.png" alt="html-5--v1"/>
                            <img class="FE" width="58" height="58" src="https://img.icons8.com/fluency/48/css3.png" alt="css3"/>
                            <img class="FE" src="/27.05.25/img/JavaScript.png" style="padding:10px 8px;" alt="" width="44" height="47">
                        </div>
                        <div class="skils_name">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Java Script</li>
                        </div>

                        <div class="percentage_value">
                            <div class="otr_percentage">
                                <div class="inr_percentage" style="width:80%;"></div>
                            </div>
                            <div class="values">80%</div>
                        </div> 

                    </div>


                    <div class="skills_icons">
                        <div class="icons">
                            <img width="100" height="100" src="https://img.icons8.com/ios/100/flask.png" alt="flask"/>
                        </div>
                        <div class="skils_name">
                            <li>Flask</li>
                        </div>

                        <div class="percentage_value">
                            <div class="otr_percentage">
                                <div class="inr_percentage" style="width:50%;"></div>
                            </div>
                            <div class="values">50%</div>
                        </div> 

                    </div>

                    <div class="skills_icons">
                        <div class="icons">
                            <img width="66" height="66" src="https://img.icons8.com/color/96/python--v1.png" alt="python--v1"/>
                            <p>+</p>
                            <img width="65" height="68" src="https://img.icons8.com/color/96/artificial-intelligence.png" alt="artificial-intelligence"/>
                            
                        </div>
                        <div class="skils_name">
                            <li>Python</li>
                            <li>+</li>
                            <li>Machine Learing</li>
                        </div>

                        <div class="percentage_value">
                            <div class="otr_percentage">
                                <div class="inr_percentage" style="width:80%;"></div>
                            </div>
                            <div class="values">80%</div>
                        </div>  

                    </div>

                    <div class="skills_icons" >
                        <div class="icons">
                            <img width="96" height="96" src="https://img.icons8.com/color/96/mysql-logo.png" alt="mysql-logo"/>
                        </div>
                        <div class="skils_name">
                            <li>MySql</li>
                        </div>

                        <div class="percentage_value">
                            <div class="otr_percentage">
                                <div class="inr_percentage" style="width:60%;"></div>
                            </div>
                            <div class="values">60%</div>
                        </div>  

                    </div>  

                    <div class="skills_icons" >
                        <div class="icons">
                            <img width="96" height="96" src="https://img.icons8.com/color/96/power-bi-2021.png" alt="power-bi-2021"/>
                        </div>
                        <div class="skils_name">
                            <li>Dashboard Designing</li>
                        </div>
                        <div class="percentage_value">
                            <div class="otr_percentage">
                                <div class="inr_percentage" style="width:50%;"></div>
                            </div>
                            <div class="values">50%</div>
                        </div>                        
                    </div>  

                    <div class="skills_icons" >
                        <div class="icons">
                            <img  width="96" height="96" src="https://img.icons8.com/color/96/figma--v1.png" alt="figma--v1"/>
                        </div>
                        <div class="skils_name">
                            <li>figma</li>
                        </div>

                        <div class="percentage_value">
                            <div class="otr_percentage">
                                <div class="inr_percentage" style="width:30%;"></div>
                            </div>
                            <div class="values">30%</div>
                        </div>
                    </div>  

                    

                </div>
           </div>

           <!--  <div class="outbasetop"></div> -->
            <div class="basemid"></div>
           <!-- <div class="outbasebottom"></div> --> 
    </section>



<!-- ----------------------------------------------------------------------------------------------------- -->



<!-- Services -->
 
<section class="services">
    <!-- <img class="whitebg" src="./img/whitebg.jpg" alt=""> -->
    
    <div class="service-heading">
        <div class="seriver-view_all">
            <h1>Services <span>I Provide</span></h1>
            <div class="view_all">
                <button class="view_all_button">View All Services    <i class="fa-solid fa-circle-chevron-right"></i></button>
            </div>
        </div>
    
    </div>

    <hr>

    <div class="service-list">
    
     
        <div class="served_project">

            <div class="served_project-details">

                <h3>Auto report Generator</h3>

                <hr>

                <div class="served_project-logo">
                    <div class="layer">
                        <div class="layer1">
                        <div class="layer2">
                            <div class="layer3">
                                <!-- <img  class="prot_img" src="../static/img/port_1.jpg" alt=""> -->

                                <div class="GO-circle">
                                   <i class="fas fa-angle-double-right"></i>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                
                </div>

            </div>
        </div> 

        <div class="served_project">
            <div class="served_project-details">
                <h3>GLOW GRACE BEAUTY PRODECTS</h3>
                <hr>
                <div class="served_project-logo">
                    <div class="layer">
                        <div class="layer1">
                            <div class="layer2">
                                <div class="layer3">
                                    <!-- <img  class="prot_img" src="../static/img/PORT2.jpg" alt=""> -->
                                    <div class="GO-circle">
                                       <i class="fas fa-angle-double-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>  


        <div class="served_project">
            <div class="served_project-details">
                <h3>Auto report Generator</h3>
                <hr>
                <div class="served_project-logo">
                    <div class="layer">
                        <div class="layer1">
                            <div class="layer2">
                                <div class="layer3">
                                    <!-- <img  class="prot_img" src="../static/img/port_3.jpg" alt=""> -->

                                    <div class="GO-circle">
                                       <i class="fas fa-angle-double-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div> 
        
        
    
    </div>
    </section>
    
    <!-- Services ends -->

<div class="brack"></div>
<!-- footers -->

<section class="footers">
    <div class="contectme">
        <h1>Let's Connect There</h1>
        <button class="contact_button">Hire Me  <i class="fa-solid fa-square-caret-right"></i></button>
    </div>

    <hr>

    <div class="foot_details">

        <div class="aboutme">
            <div class="logo"><span>Storm</span>coders</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur assumenda ut rem reprehenderit et, quam libero cupiditate fugiat at iusto modi autem praesentium quia. Quo nihil dolorum dicta architecto cupiditate.</p>
            
            <div class="socialmedia">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-whatsapp"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>
          
        </div>

        <div class="foot_nav">
            <h4>Navigations</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="foot_phone_contact">

        </div>

        <div class="foot_mail">

        </div>

    </div>
    
    <hr>

    <div class="copy_right">
        <p> Copyrights &copy; 2024  <span>Stormcoders</span>. All Rights Reserved.</p>
        <p>User Terms & Conditions | Privacy Policy</p>
    </div>


</section>

<!-- footers -->


</body>
</html>
